<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <script type="text/javascript">
      (function () {
          var options = {
              whatsapp: "+2349092039570 ", // WhatsApp number
              call_to_action: "Message us", // Call to action
              position: "right", // Position may be 'right' or 'left'
          };
          var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
          var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
          s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
          var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
      })();
  </script>

    {% if title %}
      <title>CASHIE_TECH - {{ title }}</title>
    {% else %}
      <title>CASHIE_TECH</title>
    {% endif %}
</head>
<body>

    <!--navbar-->
  <div class="hello">
    <header class="header">
      <nav class="navbar navbar-expand-lg bg-secondary navbar-dark py-3 fixed-top">
          <div class="container-fluid ">
            <a class="navbar-brand text-dark" href="#">CASHIE_TECH</a>
            <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
                <li class="nav-item ">
                  <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    ACTIVITIES
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">WEB DEVLOPMENT</a></li>
                    <li><a class="dropdown-item" href="#">WEB APPLICATION </a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">MACHINE LEARNING AND A.I</a></li>
                  </ul>
                </li>

              </ul>
            </div>
          </div>
        </nav><br><br>
    </header>
  </div>


      <!--details-->

      <section id="details" class="p-5 bg-dark">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="div col-md ">
                  <img class="img-thumbnail" src="{{url_for('static', filename='five.jpg')}}"  width="400" height="240"//>
                </div>
                <div class="div col-md p-5 text-light">
                    <h1>WELCOME TO MY PORTFOLIO</h1>
                    <p>My Name is <span class="fw-bold">Ezekude Izuchukwu Francis....</span>I Hails from Anambra State Nigeria,</p>
                    <p>All my life my passion has been to become a software developerfor long and now i hope am making the best out of it...and i knwo it's along way but nevertheless i shall succeed definately</p>
                    <a href="https://wa.me/message/A5LRIJIGAAOAA1"class="btn btn-light mt-3">
                      <i class="bi bi-chevroon-right"></i>Message Me
                  </a>
                </div>
            </div>
        </div>
    </section>

    <!--slides-->

    <section class="p-5 bg-secondary text-light justify-content-between">
      <div class="div container">
          <div class="row align-items-center justify-content-between">
              <div class="div col-md p-5">
                  <h1>MORE ABOUT WEB DEVELOPMENT</h1>
                  <p>
                    For larger organizations and businesses, Web development teams can consist of hundreds of people (Web developers) and follow standard methods like Agile methodologies while developing Web sites. Smaller organizations may only require a single permanent or contracting developer, or secondary assignment to related job positions such as a graphic designer or information systems technician. Web development may be a collaborative effort between departments rather than the domain of a designated department. There are three kinds of Web developer specialization: front-end developer, back-end developer, while back-end developers deal with the servers. </p>
                  <p>Since the commercialization of the Web with Tim Berners-Lee[4] developing the World Wide Web at CERN, the industry has boomed and has become one of the most used technologies ever.</p>
                  <a href="#"class="btn btn-light mt-3">
                      <i class="bi bi-chevroon-right"></i>read more
                  </a>
              </div>
              <div class="div col-md ">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img class="d-block w-100" src="{{url_for('static', filename='two.jpg')}}"  width="250" height="300"//> 
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="{{url_for('static', filename='three.jpg')}}"  width="250" height="300"//>
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="{{url_for('static', filename='four.jpg')}}"  width="250" height="300"//>
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="{{url_for('static', filename='six.jpeg')}}"  width="250" height="300"//>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          
      </div>
  </section>

  <!--projects-->

  <section class="p-5 bg-dark boxes">
    <div class="container md-align-items-center">
      <h2 class="text-center text-white">OUR PROJECTS</h2><br>
      <div class="row align-items-center text-light text-center g-4">
        <div class="col ">
          <div class="card" style="width: 18rem;">
            <img src="{{url_for('static', filename='two.png')}}" class="card-img-top" alt="...">
            <div class="card-body text-dark">
            <h5 class="card-title">FLASK MARKET WEBSITE</h5>
            <p class="card-text">A mobile application or app is a computer program or software application designed to run on a mobile device such as a phone, tablet, or watch.</p>
            <a href="#" class="btn btn-primary">VISIT SITE</a>
          </div>
        </div>
  </div>
        <div class="col ">
             <div class="card" style="width: 18rem;">
                <img src="{{url_for('static', filename='three.png')}}" class="card-img-top" alt="...">
                <div class="card-body text-dark">
                  <h5 class="card-title">FLASK BLOG WEBSITE</h5>
                  <p class="card-text">A Web application (Web app) is an application program that is stored on a remote server and delivered over the Internet through a browser interface.</p>
                  <a href="#" class="btn btn-primary">VISIT SITE</a>
                </div>
              </div>
        </div>
        <div class="col ">
                <div class="card" style="width: 18rem;">
                  <img src="{{url_for('static', filename='four.png')}}" class="card-img-top" alt="...">
                  <div class="card-body text-dark">
                  <h5 class="card-title">FLASK PASSWORD GENERATOR</h5>
                  <p class="card-text"> Data analysis is defined as a process of cleaning, transforming, and modeling data to discover useful information for business decision-making.</p>
                  <a href="#" class="btn btn-primary">VISIT SITE</a>
                </div>
              </div>
        </div>
        <div class="col ">
          <div class="card" style="width: 18rem;">
                <img src="{{url_for('static', filename='five.png')}}" class="card-img-top" alt="...">
                <div class="card-body text-dark">
                  <h5 class="card-title">FLASK RANDOM NAMES GENARATOR</h5>
                  <p class="card-text">Machine learning is a subfield of artificial intelligence, which enables machines to learn from past data or experiences without being explicitly programmed.</p>
                  <a href="#" class="btn btn-primary">VISIT SITE</a>
                </div>
            </div>
        </div>
      </div>
    </div>
  </section>

    <footer>

      <section class="p-5 bg-secondary text-light justify-content-between">
        <h1 class="fw-bold text-center">CONTACT ME</h1>
        <br>
        <i class="fa-brands fa-github"></i>
        <div class="container ">
          <div class="row g-">
            <div class="col-md">
              <ul class="list-group list-group-flush bg-secondary">
                <li class="list-group-item">Email Address:<span class="fw-bold"> frankizuchukwu094@gmail.com</span></li>
                <li class="list-group-item">Cellphone Number:<span class="fw-bold"> 09092039570</span></li>
                <li class="list-group-item">Address:<span class="fw-bold"> Onitsha,Anambra</span></li>
                <li class="list-group-item">Country:<span class="fw-bold"> Nigeria</span></li>
                <li class="list-group-item">occupation:<span class="fw-bold"> Web Developer</span></li>
              </ul>
            </div>

          </div>
        </div>
      </section>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>